.welcome {
    text-align: center;
    margin: 0;
    font-size: 70px;
    padding-top: 70px;
}

.chooseText {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

/* button {
    padding: 20px;
    font-size: 30px;
    margin: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(37, 113, 226);
    width: 200px;
    height: 100px;
}

button:hover {
    background-color: floralwhite;
} */

.buttonClass {
    margin: 50px;
    width: 200px;
    height: 80px;
}
